<h1>Filmpjes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th colspan="3"></th>

    </tr>
  </thead>




    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.link.html_safe %></td>

        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "EDIT", edit_video_path(video) %></td>

      </tr>
    <% end %>
  </tbody>
</table>




