<p>nieuw</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Author:</b>
  <%= @video.link %>
</p>


<%= render 'form' %>


<%= link_to 'Back', videos_path %>
<%= link_to 'New', new_video_path %>

